/* CSS Document */

body{
	padding:0;
	margin:0;
	background:url(images/body_bg.gif) 0 0 repeat-x #fff;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span{
	margin:0; padding:0;
}

ul{
	margin:0; 
	padding:0; 
	list-style-type:none;
	font-size:0;
}
.spacer{
	clear:both; 
	font-size:0; 
	line-height:0;
}
/*------------------------------------------------body--------------------*/

/*------------------------------------------------header--------------------*/
#header{
	width:872px;
	height:285px;
	margin:0 auto;
	position:relative;
	padding:0 34px 0 0;
}
#header p.new{
	display:block;
	background:url(images/what_new.gif) 0 0 no-repeat;
	width:113px;
	height:60px;
	position:absolute;
	left:6px;
	top:0;
}
#header p.headTxt{
	width:371px;
	font-weight:normal;
	font-size:12px;
	line-height:16px;
	color:#010101;
	background-color:inherit;
	position:absolute;
	left:133px;
	top:18px;
}
#header p.headTxt span.bold{
	color:#010101;
	background-color:inherit;
	font-weight:bold;
}
#header p.headTxt span.green{
	color:#769608;
	background-color:#fff;
	padding:3px;
}
#header a.topLink{
	font-size:12px;
	line-height:21px;
	color:#0A56B4;
	background-color:inherit;
	position:absolute;
	left:245px;
	top:39px;
	text-decoration:underline;
}
#header a.topLink:hover{
	color:#0A56B4;
	background-color:#DDE0CA;
}
#header p.topDiv{
	width:2px;
	height:68px;
	display:block;
	background:url(images/top_div.gif) 0 0 no-repeat;
	position:absolute;
	left:549px;
	top:0;
}
#header form{
	width:261px;
	height:21px;
	background:url(images/top_form_icon.gif) 0 0 no-repeat;
	padding:6px 0 9px 43px;
	position:absolute;
	left:566px;
	top:19px;
}
#header form input.txtBox{
	width:192px;
	height:19px;
	border-bottom:#D4D0C8 solid 1px;
	border-right:#D4D0C8 solid 1px;
	border-top:#808080 solid 1px;
	border-left:#808080 solid 1px;
	float:left;
	color:#071E22;
	background-color:#fff;
	font-size:10px;
	line-height:19px;
	padding:0 0 0 10px;
}
#header form input.go{
	width:50px;
	height:21px; 
	background:url(images/btn_go.gif) 0 0 no-repeat #EDEFE0;
	border:none;
	cursor:pointer;
	font:bold 10px/21px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color:#fff;
	float:right;
	text-transform:uppercase;
}
#header ul.nav{
	width:877px;
	height:35px;
	background:url(images/nav_div.gif) left top no-repeat;
	padding:0 0 0 2px;
	position:absolute;
	left:23px;
	top:68px;
}
#header ul.nav li{
	padding:0 2px 0 0;
	float:left;
	background:url(images/nav_div.gif) right top no-repeat;
	height:35px;
}
#header ul.nav li a{
	display:block;
	background:url(images/nav_bg.gif) 0 0 repeat-x #010101;
	padding:0 18px;
	font-size:11px;
	font-weight:bold;
	line-height:35px;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
}
#header ul.nav li a:hover{
	background:url(images/nav_bg_hover.gif) 0 0 repeat-x #B4BFAE;
	color:#434446;
}
#header ul.nav li a.hover{
	display:block;
	background:url(images/nav_bg_hover.gif) 0 0 repeat-x #B4BFAE;
	padding:0 18px;
	font-size:11px;
	font-weight:bold;
	line-height:35px;
	color:#434446;
	text-decoration:none;
	text-transform:uppercase;
}
#header ul.nav li.noImg{
	background-image:none;
}
#header img.logo{
	position:absolute;
	left:1px;
	top:127px;
	width:265px;
	height:69px;
}
#header p.topTxt{
	display:block;
	font-size:13px;
	line-height:21px;
	color:#fff;
	background-color:inherit;
	width:494px;
	position:absolute;
	left:0;
	top:214px;
}
#header ul.menu{
	width:365px;
	height:82px;
	position:absolute;
	left:2px;
	top:199px;
}
#header ul.menu li{
	float:left;
	margin:0 14px 0 0;
}
#header ul.menu li a.blog{
	display:block;
	height:11px;
	width:77px;
	background:url(images/blog.gif) 0 0 no-repeat;
	padding:71px 0 0 0;
	font-size:11px;
	line-height:11px;
	color:#fff;
	background-color:inherit;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	text-transform:uppercase;
}
#header ul.menu li a.blog:hover{
	background:url(images/blog_hover.gif) 0 0 no-repeat;
}
#header ul.menu li a.download{
	display:block;
	height:11px;
	width:77px;
	background:url(images/download.gif) 0 0 no-repeat;
	padding:71px 0 0 0;
	font-size:11px;
	line-height:11px;
	color:#fff;
	background-color:inherit;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	text-transform:uppercase;
}
#header ul.menu li a.download:hover{
	background:url(images/download_hover.gif) 0 0 no-repeat;
}
#header ul.menu li a.recycle{
	display:block;
	height:11px;
	width:77px;
	background:url(images/recycle.gif) 0 0 no-repeat;
	padding:71px 0 0 0;
	font-size:11px;
	line-height:11px;
	color:#fff;
	background-color:inherit;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	text-transform:uppercase;
}
#header ul.menu li a.recycle:hover{
	background:url(images/recycle_hover.gif) 0 0 no-repeat;
}
#header ul.menu li a.idea{
	display:block;
	height:11px;
	width:77px;
	background:url(images/idea.gif) 0 0 no-repeat;
	padding:71px 0 0 0;
	font-size:11px;
	line-height:11px;
	color:#fff;
	background-color:inherit;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	text-transform:uppercase;
}
#header ul.menu li a.idea:hover{
	background:url(images/idea_hover.gif) 0 0 no-repeat;
}
#topRight{
	width:322px;
	float:right;
	padding:16px 0 0 0;
	margin:105px 0 0 0;
	border-left:#2A758F solid 1px;
	border-right:#2A758F solid 1px;
	background-color:#8EB213;
	color:#fff;
}
#topRight h2{
	display:block;
	background:url(images/event_bg.gif) 0 0 no-repeat;
	width:276px;
	height:47px;
	padding:0 0 0 13px;
	font-size:29px;
	line-height:47px;
	font-weight:bold;
	margin:0 0 8px 17px;
}
#topRight p.topRightTxt{
	display:block;
	width:194px;
	background:url(images/bullet.gif) 17px 5px no-repeat;
	font-size:12px;
	line-height:18px;
	font-weight:bold;
	color:#000;
	background-color:inherit;
	text-decoration:underline;
	margin:0 0 6px 0;
	padding:0 0 0 39px;
}
#topRight p.topRightTxt2{
	width:275px;
	font-size:11px;
	line-height:18px;
	font-weight:bold;
	color:#DCFF58;
	background-color:inherit;
	margin:0 0 3px 0;
	padding:0 0 0 17px;
}
#topRight p.topRightTxt2 span{
	display:block;
	font-size:12px;
	line-height:18px;
	font-weight:normal;
	margin:3px 0 0 0;
	padding:0;
}
#topRight a{
	display:block;
	background:url(images/more_bg.gif) 0 0 no-repeat;
	width:50px;
	height:18px;
	font:bold 10px/18px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	margin:0 0 0 259px;
}
#topRight a:hover{
	color:#000;
	background-color:inherit;
}
#topRight p.topRightBot{
	display:block;
	background:url(images/top_right_bottom.gif) 0 0 no-repeat;
	width:322px;
	height:16px;
	font-size:0;
}
	
/*------------------------------------------------header--------------------*/

/*------------------------------------------------body--------------------*/
#body{
	width:872px;
	margin:17px auto 26px auto;
	padding:0 34px 0 0;
	background-attachment: scroll;
	background-image: url(images/bodybg.gif);
	background-repeat: repeat-y;
	background-position: center center;
}
/*------------------------------------------------left--------------------*/
#left{
	width:515px;
	float:left;
	padding:8px 0 0 0;
}
#left h2.welcome{
	display:block;
	width:515px;
	height:26px;
	border-bottom:#E7E7E7 solid 2px;
	font-size:28px;
	line-height:26px;
	font-weight:bold;
	color:#000;
	background-color:inherit;
	margin:0 0 17px 0;
}
#left h3{
	display:block;
	width:515px;
	font-size:18px;
	line-height:24px;
	font-weight:normal;
	color:#6B8A05;
	background-color:inherit;
	margin:0 0 22px 0;
	border:none;
}
#left p.lftTxt1{
	display:block;
	width:515px;
	font-size:14px;
	line-height:22px;
	font-weight:normal;
	color:#000;
	background-color:inherit;
	margin:0 0 30px 0;
	border:none;
}
#left p.lftTxt2{
	display:block;
	width:515px;
	font-size:14px;
	line-height:22px;
	font-weight:normal;
	color:#000;
	background-color:inherit;
	margin:0 0 25px 0;
	border:none;
}
#left span{
	color:#000;
	background-color:#FEF4D5;
}
#left a{
	color:#0A56B4;
	background-color:inherit;
	text-decoration:underline;
}
#left a:hover{
	background-color:#E0E4CB;
	color:#0A56B4;
}
#story{
	width:241px;
	border-top:#E0E4CB solid 4px;
	background-color:#EDEFE0;
	color:#020202;
	float:left;
	padding:0 0 9px 10px;
}
#story h2.story{
	display:block;
	width:234px;
	padding:0 0 0 7px;
	font-size:20px;
	line-height:32px;
}
#story ul{
	width:211px;
	padding:15px 11px 22px 11px;
	background-color:#FAFBF1;
	color:#000;
}
#story ul li{
	background:url(images/arrow.gif) 0 5px no-repeat;
	padding:0 0 0 17px;
}
#story ul li a{
	display:block;
	font-size:12px;
	line-height:20px;
	color:#CB6300;
	background-color:inherit;
	text-decoration:none;
}
#story ul li a:hover{
	color:#000;
	background-color:#E7E8DE;
}
#service{
	width:241px;
	border-top:#E0E4CB solid 4px;
	background-color:#EDEFE0;
	color:#020202;
	float:right;
	padding:0 0 9px 10px;
}
#service h2.story{
	display:block;
	width:234px;
	padding:0 0 0 7px;
	font-size:20px;
	line-height:32px;
}
#service ul{
	width:211px;
	padding:15px 11px 22px 11px;
	background-color:#FAFBF1;
	color:#000;
}
#service ul li{
	background:url(images/arrow.gif) 0 5px no-repeat;
	padding:0 0 0 17px;
}
#service ul li a{
	display:block;
	font-size:12px;
	line-height:20px;
	color:#CB6300;
	background-color:inherit;
	text-decoration:none;
}
#service ul li a:hover{
	color:#000;
	background-color:#E7E8DE;
}
/*------------------------------------------------left--------------------*/

/*------------------------------------------------right-------------------*/
#right{
	width:306px;
	padding:3px 0 0 0;
	float:right;
}
#right h2.world{
	width:252px;
	height:34px;
	display:block;
	background:url(images/enter_world.gif) 0 0 no-repeat;
	margin:0 0 19px 0;
	text-indent:-20000px;
}
#right h2.contact{
	width:326px;
	height:34px;
	display:block;
	background:url(images/contacthighlight.gif) 0 0 no-repeat;
	margin:0 0 19px 0;
	text-indent:-20000px;
}
#right p.rghTxt{
	display:block;
	width:301px;
	font-size:12px;
	line-height:18px;
	font-weight:normal;
	color:#545454;
	background-color:inherit;
	margin:0 0 20px 0;
}
#right p.rghTxt span{
	color:#81A40C;
	background-color:inherit;
	font-weight:bold;
}
#right h3{
	display:block;
	width:306px;
	height:19px;
	font-size:18px;
	font-weight:normal;
	color:#000;
	background-color:inherit;
	border-bottom:#E7E7E7 solid 2px;
	margin:0 0 11px 0;
}
#right ul{
	width:302px;
	padding:0 0 18px 0;
}
#right ul li{
	padding:0 0 0 20px;
	margin:0;
	background:url(images/bullet2.gif) 0 7px no-repeat;
}
#right ul li a{
	display:block;
	font:normal 13px/22px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color:#0A56B4;
	background-color:inherit;
	text-decoration:underline;
}
#right ul li a:hover{
	color:#000;
	background-color:#E7E7E7;
}
#right form{
	width:282px;
	border-top:#E0E4CB solid 1px;
	background-color:#EDEFE0;
	color:#000;
	padding:4px 12px 24px 12px;
}
#right form h2{
	display:block;
	width:246px;
	height:32px;
	background:url(images/memberlogin_icon.gif) 0 0 no-repeat;
	padding:0 0 0 36px;
	font-size:20px;
	color:#CB6300;
	background-color:inherit;
	font-weight:bold;
	line-height:32px;
	margin:0 0 7px 0;
	float:left;
}
#right form input.txtBox2{
	width:265px;
	height:19px;
	border-bottom:#D4D0C8 solid 1px;
	border-right:#D4D0C8 solid 1px;
	border-top:#808080 solid 1px;
	border-left:#808080 solid 1px;
	background-color:#fff;
	color:#000;
	font-size:12px;
	line-height:19px;
	padding:0 0 0 14px;
	margin:0 0 11px 0;
	float:left;
}
#right form input.chkBox{
	width:13px;
	height:13px;
	float:left;
	margin:0 8px 0 0;
}
#right form label{
	width:95px;
	height:13px;
	font-size:11px;
	line-height:13px;
	color:#6B8A05;
	background-color:inherit;
	font-weight:bold;
	float:left;
	display:block;
}
#right form input.login{
	background:url(images/btn_login.gif) 0 0 no-repeat;
	width:55px;
	height:18px;
	font:bold 10px/18px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:#EDEFE0;
	text-align:center;
	float:right;
	text-transform:uppercase;
	border:none;
	cursor:pointer;
}
	
/*------------------------------------------------right-------------------*/

/*------------------------------------------------body--------------------*/

/*------------------------------------------------footer--------------------*/
#footerMain{
	width:100%;
	background:url(images/footer_bg.gif) 0 0 repeat-x;
	height:127px;
}
#footer{
	width:633px;
	height:127px;
	margin:0 auto;
	position:relative;
}
#footer ul{
	width:633px;
	position:absolute;
	left:0;
	top:22px;
}
#footer ul li{
	float:left;
	font:normal 12px/19px Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
}
#footer ul li a{
	padding:0 7px;
	color:#fff;
	background-color:inherit;
	text-decoration:none;
}
#footer ul li a:hover{
	text-decoration:underline;
}
#footer p.copyright{
	font:normal 10px/15px Arial, Helvetica, sans-serif;
	position:absolute;
	left:196px;
	top:45px;
	color:#B0D44E;
	background-color:inherit;
}
#footer a.xhtml{
	display:block;
	background:url(images/xhtml_bg.gif) 0 0 no-repeat;
	width:55px;
	height:20px;
	font:bold 10px/18px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	position:absolute;
	left:248px;
	top:61px;
}
#footer a.xhtml:hover{
	color:#000;
	background-color:inherit;
}
#footer a.css{
	display:block;
	background:url(images/xhtml_bg.gif) 0 0 no-repeat;
	width:55px;
	height:18px;
	font:bold 10px/18px "Trebuchet MS",Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	position:absolute;
	left:309px;
	top:61px;
}
#footer a.css:hover{
	color:#000;
	background-color:inherit;
}
#footer p.design{
	display:block;
	width:182px;
	height:16px;
	padding:2px;
	position:absolute;
	left:225px;
	top:91px;
	font:bold 10px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#4DCDFD;
	background-color:inherit;
	text-transform:uppercase;
}
#footer p.design a.link{
	font:bold 10px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#4DCDFD;
	background-color:inherit;
	text-decoration:none;
}
#footer p.design a.link:hover{
	color:#fff;
	background-color:#FF7C00;
}
/*------------------------------------------------footer--------------------*/
/*------------------------------------------------Contact--------------------*/
.contactformfield {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	height: 20px;
	width: 75%;
	float: left;
	margin: 3px;
	padding: 3px;
	top: 1px;
	clip: rect(1px,auto,auto,auto);
	clear: none;
	right: 30px;
}
.contactsubmit {
	font-family: Verdana;
	font-size: 11px;
	color: #ffffff;
	background-attachment: scroll;
	background-image: url(images/buttonbg.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 76px;
	clip: rect(500px,500px,auto,auto);
	top: 500px;
	right: 500px;
	bottom: 500px;
	left: 500px;
	float: left;
	margin: 5px;
	padding: 5px;
}
.submitbutton {
	font-family: Verdana;
	font-size: 11px;
	text-transform: capitalize;
	color: #FFFFFF;
	background-attachment: scroll;
	background-image: url(images/buttonbg.gif);
	background-repeat: repeat-x;
	background-position: center center;
	height: 23px;
	width: 70px;
	border: 1px solid #CCCCCC;
	margin: 2px;
	padding: 2px;
}


.contactformmessage {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	height: 170px;
	width: 75%;
	float: none;
	margin: 3px;
	padding: 3px;
}
.contactfornmsg {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	height: 170px;
	width: 75%;
	margin: 3px;
	padding: 3px;
}

.contactbox {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	border: 1px solid #CCCCCC;
	height: 18px;
}
.contactmessagebox {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	border: 1px solid #CCCCCC;
	height: 170px;
}
.contacttextarea {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 3px;
	padding: 3px;
}
.contacttext {
	margin: 3px;
	padding: 3px;
	height: 18px;
	width: 100px;
	float: left;
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
}
.contacthead {
	font-family: Verdana;
	font-size: 16px;
	font-weight: bold;
	color: #1D859B;
	margin: 3px;
	padding: 3px;
	height: 20px;
	width: 300px;
}

.commenttext {
	margin: 3px;
	padding: 3px;
	height: 170px;
	width: 100px;
	float: left;
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
}
.contacterrortext {
	margin: 3px;
	padding: 3px;
	height: 18px;
	width: 10px;
	float: left;
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
}
.contacttexthead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	color: #759C25;
	margin: 3px;
	padding: 3px;
}

/*------------------------------------------------Contact--------------------*/

.linkpopup {
	position: relative;
	font-family: Verdana;
	font-size: 11px;
	color: #1D859B;
	height: 18px;
	width: 250px;
}

.linkpopup span {
 background-color: #ccc;
 border: 1px solid #000;
 display: block;
 left: 0;
 padding: .25em;
 position: absolute;
 top: -1.75em;
}

.linkpopup:link span,
.linkpopup:visited span {
 visibility: hidden;
}

.linkpopup:hover span,
.linkpopup:focus span,
.linkpopup:active span {
	color: #000;
	text-decoration: none;
	visibility: visible;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.linkpopupmessagebox {
	position: relative;
	font-family: Verdana;
	font-size: 11px;
	color: #1D859B;
	height: 170px;
	width: 350px;
}

.linkpopupmessagebox span {
 background-color: #ccc;
 border: 1px solid #000;
 display: block;
 left: 0;
 padding: .25em;
 position: absolute;
 top: -1.75em;
}

.linkpopupmessagebox:link span,
.linkpopupmessagebox:visited span {
 visibility: hidden;
}

.linkpopupmessagebox:hover span,
.linkpopupmessagebox:focus span,
.linkpopupmessagebox:active span {
 color: #000;
 text-decoration: none;
 visibility: visible;
}


/*------------------------------------------------Email--------------------*/

.linkpopupemail {
	position: relative;
	font-family: Verdana;
	font-size: 11px;
	color: #1D859B;
	height: 18px;
	width: 200px;
}

.linkpopupemail span {
 background-color: #ccc;
 border: 1px solid #000;
 display: block;
 left: 0;
 padding: .25em;
 position: absolute;
 top: -1.75em;
}

.linkpopupemail:link span,
.linkpopupemail:visited span {
 visibility: hidden;
}

.linkpopupemail:hover span,
.linkpopupemail:focus span,
.linkpopupemail:active span {
	color: #000;
	text-decoration: none;
	visibility: visible;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
/*------------------------------------------------Email--------------------*/
.contactformmsgfild {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	height: 170px;
	width: 70%;
	float: left;
	margin: 3px;
	top: 1px;
	clip: rect(1px,auto,auto,auto);
	clear: none;
	right: 30px;
	background-color: #FFFFFF;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
}

/*------------------------------------------------Textboxon Email--------------------*/

.borderEffect
{
background-color:#FFFFCC;
color:#A05A3D;
margin:0px;
padding:0px;
border:1px solid #FFCC00;
}
.borderEffect:hover
{
background-color:#FFCC89;
color:#A05A3D;
margin:0px;
padding:0px;
border:1px solid #A05A3D;
}
/*------------------------------------------------Textbox on Email--------------------*/
/*------------------------------------------------Textbox --------------------*/

.textboxEffect
{
	background-color:#FFFFFF;
	color:#000000;
	border:1px solid #CCCCCC;
	height: 18px;
	width: 250px;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	float: left;
}
.textboxEffect:hover
{
background-color:#FFFFFF;
color:#1D859B;
margin:0px;
padding:0px;
border:1px solid #1D859B;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
/*------------------------------------------------Textbox --------------------*/
/*------------------------------------------------Textboxdropdown --------------------*/

.dropdownEffect
{
	background-color:#FFFFFF;
	color:#000000;
	border:1px solid #CCCCCC;
	height: 18px;
	width: 262px;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	float: left;
}
.dropdownEffect:hover
{
background-color:#FFFFFF;
color:#1D859B;
margin:0px;
padding:0px;
border:1px solid #1D859B;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
/*------------------------------------------------Textboxdropdown --------------------*/
/*------------------------------------------------Massagebox --------------------*/

.MassageboxEffect
{
	background-color:#FFFFFF;
	color:#000000;
	border:1px solid #CCCCCC;
	height: 170px;
	width: 350px;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	float: left;
}
.MassageboxEffect:hover
{
background-color:#FFFFFF;
color:#1D859B;
margin:0px;
padding:0px;
border:1px solid #1D859B;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
/*------------------------------------------------Massagebox --------------------*/
.contacttextindicate {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	margin: 4px;
	padding: 4px;
}
.contactdropdownformfield {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	height: 20px;
	width: 72%;
	float: left;
	margin: 3px;
	top: 1px;
	clip: rect(1px,auto,auto,auto);
	clear: none;
	right: 30px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 8px;
}
.submitbuttonarea {
	margin: 5px;
	float: left;
	height: 50px;
	width: 300px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 105px;
}
